<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>About Your Job</strong>
  </div>
  <div class="panel-body">
    <div clas="form">
      <div class="form-group">
        <label>Hourly pay rate</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="number" class="form-control" placeholder="e.g. 14.77" ng-model="member.payRate">
          <div class="input-group-addon">per hour</div>
        </div>
      </div>
      <div class="form-group">
        <label>Years of Service</label>
        <input type="number" class="form-control" ng-model="member.serviceYears">
      </div>
    </div>
  </div>
</div>
